.idea/
.gradle/
.gradletasknamecache
build/
/out/
/target/
docker-machine-driver-hyperkit
.DS_Store

target/

.settings
.vscode
.metals

.pid
.envrc
.java-version

*.iml
helmchart/envsecrets.env
tasks/config.temp.dev
.venv
/bin
opa/ingress/test.rego
helmchart/opa-policies/ingress/test.rego